Flask
flask-cors
flask-limiter
google-generativeai
fuzzywuzzy
requests
dnspython
tldextract
python-whois
beautifulsoup4
cryptography
pyaudio
gtts
pygame
numpy
transformers
torch
Pillow
scipy
opencv-python
scikit-learn
SpeechRecognition
python-nmap
validators
pyOpenSSL
imagehash
torchvision
tensorflow
deepface
tf-keras
soundfile
whisper
librosa
langdetect
openai
